body{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    text-align:center;
    min-height:100vh;
}

.header{
    background-color:#234F1E;
    color:#FDA172;
    padding:0 200px;
    padding-bottom:60px;
}

.logo{
    font-size:24px;
}

.title{
    font-size: 48px;
    font-weight:bold;
}

.firstline{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:64px;
}

.secondline{
    display:flex;
    text-align: start;
}

.quote{
    font-size:36px;
    font-style:italic;
}

ul{
    display:flex;
    list-style:none;
    gap:16px;
}

a{
    text-decoration: none;
    color:#FDA172;
}

.footer{
    background-color:#234F1E;
    color:#FDA172;
    margin-top:auto;
    text-align: center;
    padding:32px;
    align-items: center;
}


.box{
    height:160px;
    width:160px;
    border:6px solid #234F1E;
    border-radius: 8px;
    margin-bottom:8px;
    
}

.bodytext{
    text-align: center;
    font-size: 30px;
    margin: 32px;
}

.boxtext{
    width:200px;
    text-align: center;
}

.infosum{
    display:flex;
    justify-content: space-evenly;
}

.firstpart{
    margin-bottom:32px;
    padding:16px 200px;
}
.secondpart{
    background-color:#d1ecde;
    height:200px;
    padding:86px 200px;
    
    
}

.thirdpart{
    display: flex;
    height:200px;
    padding:32px 200px;
    justify-content:center;
    align-items: center;
    
}

.middle{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    
}

.placeholder{
    background-color:rgb(193, 193, 193);
    text-align: center;
    flex:1;
}

.firstleft{
    display:flex;
    flex-direction: column;
    flex:1;
    height:240px;
    gap:16px;
}

.bigbox{
    padding: 16px 32px;
    display:flex;
    background-color:#FDA172;
    color:#234F1E;
    align-items: center;
    text-align: left;
    border-radius:8px;
    width:1200px;
    height:90px;
    justify-content: space-between;
    
}

button{
    width:160px;
    size:16px;
    border:none;
    outline:none;
    padding: 15px 32px;
    font-size:16px;
    margin-top:8px;
    border-radius:8px;
    background-color: #83ad7e;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height:240px;
    width:auto;
    border-radius: 8px;
}

.lastheader{
    font-size:20px;
    font-weight: bold;
}

.from{
    display:flex;
    justify-content: flex-end;
}